/* Poppins for body text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    min-height: 100vh;
  }
  
  
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  min-height: auto;
  font-family: "Poppins", sans-serif;
}

.main h1 {
  color: #495AFF;
  text-align: center;
}

.main h2 {
  text-align: center;
}

.intro {
  display: flex;
  justify-content: center;
}

.intro p {
  max-width: 70%;
  text-align: center;
  font-size: 24px;
  font-weight: 250;
}

.appContainer {
  display: flex;
  margin: 20px;
  justify-content: space-around;
  
}

.app { 
  padding: 10px;
}
.app:hover {
  background: #CCE5FF;
  border-radius: 10px;
}