/* Poppins for body text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  
.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* padding: 0; */
  /* min-height: auto; */
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.main h1 {
  color: #495AFF;
  text-align: center;
}

.main h2 {
  text-align: center;
}

.intro {
  display: flex;
  justify-content: center;
}

.intro p {
  max-width: 70%;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

.appContainer {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.appCard {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  border-radius: 5px;
  margin: 10px;
  flex: 1;
  width: calc(25% - 20px);
}

.appCard:hover {
  background-color: #CCE5FF;
}

.mediaBanner {
  background-color: #fceba1;
  border-radius: 5px;
  color: #676879;
  object-fit: fill;
}

.appThumbnail {
  border: 1px solid #C5C7D0;
  border-radius: 5px;
  max-width: 30%;
  height: auto;
}

.appThumbnail img {
  width: 100%;
  height: auto;
}

.appCardBody {
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1em;
  margin: 0;
  /* padding-bottom: 0; */
  /* gap: 0; */
}

.appCardBody h3 {
  font-size: 16px;
}

.appCardBody p {
  font-size: 10px;
}