/* Poppins for body text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 150px;
  min-height: 100vw;
  font-family: "Poppins", sans-serif;
  gap: 300px;
}

.appBody p {
  font-weight: 200;
}
  
.main h2 {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 0;
}

.main h3 {
  font-weight: 250;
  padding-top: 0;
}

.thumbnailContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.thumbnailContainer img {
  width: 100%;
  height: 100%
}

.controlOptions {
  width: 150px;
  text-align: right;
}

.main h4 {
  text-align: left;
  font-size: 18px;
  font-weight: 200;
}

.switch {
  justify-content: space-between;
}

.appTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.appTitle img { 
  cursor: pointer;
  border-radius: 5px;
  transition: color .5s, background-color .5s;
}

.appTitle img:hover { 
  background-color: #CCE5FF;
}

.mainToggle {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 14px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #495AFF;
}

input:checked + .slider:before {
  transform: translateX(11px);
}

.controlToggle {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
  padding-right: 20px;
}


.tooltip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.tooltiptext {
  visibility: hidden;
  background-color: #CCE5FF;
  color: #323338;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-left: 30px;
  opacity: 0; 
  transition: opacity 0.5s;
  white-space: nowrap;
  filter: drop-shadow(1px 3px 2px #bbb);
  font-size: 12px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modifiedText {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 200;
  margin: 0;
  word-wrap: nowrap;
  line-height: 0;
  padding: 5px;
}

.dataButtons {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.downloadButton {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #C5C7D0;
  border-radius: 5px;
  cursor: pointer;
  transition: color .5s, background-color .5s;
}

.downloadButton:hover {
  background-color: #CCE5FF;
  /* font-weight: bold; */
  color: black;
}

.relatedButton {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #C5C7D0;
  border-radius: 5px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;
  transition: color .5s, background-color .5s;
}

.relatedButton:hover {
  background-color: #CCE5FF;
  /* font-weight: bold; */
  color: black;
}

.infoPane {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  line-height: .5;
}

.infoPane a {
  text-decoration: none;
  color: #1F76C2;
  font-weight: 300;
}

.infoPane a:hover {
  text-decoration: underline;
}