/* Poppins for body text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    display: flex;
    flex-direction: row;
    min-width: 98vw;
    max-width: 100vw;
    justify-content: space-between;
    margin-bottom: 1em;
    border-bottom: 2px solid #f4f4f4;
    font-family: "Poppins", sans-serif;
}
  
.headerlogo {
  /* would be cool to get a litle spacing between the logo and the PodBox text but justify content isn't working for me  */
  display: flex;
  padding-left: .5em;
  background-image: linear-gradient(#495AFF, #5A3FE6);
  background-clip: text;
  font-size: 40px;
  cursor: pointer;

}

.headermenu {
  display: flex;
  gap: 2.5em;
  padding-right: 2em;
  padding-bottom: 1em;
  align-items: center;
  font-size: 12px;
  white-space: nowrap;
  padding-top: 0px;
  line-height: 0px;
  text-decoration: none;
}

.h2 {
  display:inline;
}

.navlink {
  text-decoration: none;
  display: inline; /* Ensure elements stay inline */
  font-size: 1.2em;
  color: grey;
}

.navlink:hover {
  font-weight: bold;
  transition: font-weight 0.3s ease; /* Add transition for font weight */
  text-decoration: none;
}

/* Define styles for the active link */
/* Define styles for the active link */
.active {
  position: relative; /* Required for absolute positioning */
  text-decoration: none; /* Remove default underline */
  margin-top: 1.2em;
  color: black;
}

/* Create a custom underline */
.active::after {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position the underline relative to the text */
  bottom: 0; /* Align the underline with the bottom of the text */
  left: 0; /* Align the underline with the left of the text */
  width: 100%; /* Make the underline span the entire width of the text */
  height: 2px; /* Set the height of the underline */
  background-color: #495AFF; /* Color of the underline */
}

/* Increase the distance between the text and the underline */
.active {
  padding-bottom: 15px; /* Adjust as needed */
  font-weight: bold;
}

.navlink:link {
  text-decoration: none;
}

.navlink:visited {
  text-decoration: none;
}

.navlink:active {
  text-decoration: none;
}

.webIdButton {
  /* margin-right: .5em; */
  position: relative; /* Required for absolute positioning of the pseudo-element */
  overflow: hidden; /* Hide overflowing background */
  border: 1px solid; /* Start with a thick border */
  background-color: #495AFF; /* Default background color */
  border-radius: 3px;
  border-color: #495AFF;
  color: #FFFFFF; /* Default text color */
  font-size: 10px;
  padding: 7px 15px;
  /* margin-top: 10px; */
  cursor: pointer;
  transition: color .5s, background-color .5s; /* Transition for smooth effect */
  font-family: Poppins, sans-serif;
  white-space: nowrap;
  font-weight: bold;
}


.webIdButton:hover {
  background-color: #CCE5FF;
  /* font-weight: bold; */
  color: black;
  border-color: #495AFF;
}

.profileButton {
  margin-left: .5em;
  position: relative; /* Required for absolute positioning of the pseudo-element */
  overflow: hidden; /* Hide overflowing background */
  border: 1px solid; /* Start with a thick border */
  background-color: white; /* Default background color */
  border-radius: 3px;
  border-color: #dddddd;
  color: black; /* Default text color */
  font-size: 10px;
  padding: 7px 15px;
  /* margin-top: 10px; */
  cursor: pointer;
  transition: color .5s, background-color .5s; /* Transition for smooth effect */
  font-family: Poppins, sans-serif;
  font-weight: bold;
}

.profileButton:hover {
  background-color: #CCE5FF;
  /* font-weight: bold; */
  color: black;
  border-color: #495AFF;
}

.rightButtons {
  display: flex;
  gap: .5em;
}

.p {
  text-decoration: none;
}
