/* Poppins for body text */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.wrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.topmatter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
  border-bottom: 2px solid #f4f4f4;
  max-height: 100vh;
}

.topmatter p {
  color: black;
  text-align: left;
  font-size: 22px;

}

.topmatter h1 {
  color: black;
  font-size: 44px;
  text-align: left;
  line-height: 110%;
}

/* .main h2 {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1em;
  
} */

.leftpane {
  margin-right: .5em;
  padding: 2em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
  border-radius: 20px;
}



.rightpane {
  margin-left: .5em;
  padding: 3em;
  align-items: center;
  border-radius: 20px;
}

.loginButton {
  margin-right: .5em;
  position: relative; /* Required for absolute positioning of the pseudo-element */
  overflow: hidden; /* Hide overflowing background */
  border: 1px solid; /* Start with a thick border */
  background-color: #495AFF;; /* Default background color */
  border-radius: 5px;
  border-color: #495AFF;
  color: #FFFFFF; /* Default text color */
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: color .5s, background-color .5s; /* Transition for smooth effect */
  font-family: Poppins, sans-serif;
}

.loginButton:hover {
  color: black; /* Text becomes white on hover */
  background-color: white;
  border-color: #ddd;
}

.signUpButton {
  margin-left: .5em;
  position: relative; /* Required for absolute positioning of the pseudo-element */
  overflow: hidden; /* Hide overflowing background */
  border: 1px solid; /* Start with a thick border */
  background-color: white; /* Default background color */
  border-radius: 5px;
  border-color: #dddddd;
  color: black; /* Default text color */
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: color .5s, background-color .5s; /* Transition for smooth effect */
  font-family: Poppins, sans-serif;
}

.signUpButton:hover {
  color: white; /* Text becomes white on hover */
  background-color:#495AFF;
  border-color: #495AFF;
}

.bottommatter h2 {
  padding: 1em;
  text-align: center;
  font-size: 30px;
}

/* Styles for the container holding the cards */
.cardContainer {
  display: flex; /* Use flexbox to arrange the cards */
  justify-content: space-between; /* Space the cards evenly across the container */
  flex: 1;
  margin-left: 4em;
  margin-right: 4em;
}

/* Styles for each individual card */
.card {
  border: 1px solid #ddd; /* Add a border for better visual separation */
  border-radius: 10px; /* Add rounded corners for a nicer look */
  padding: 10px; /* Add some padding inside the card */
  margin: 10px;
}

/* Placeholder styles for the card content */
.cardImg {
  height: 200px; /* Adjust the height as needed */
  background-color: #f0f0f0; /* Placeholder background color */
}

.cardTitle {
  padding-top: 10px;
  padding: 10px; /* Add some space between the image and title */
  font-weight: bold; /* Make the title bold */
  font-size: 24px;
}

.cardText {
  padding: 10px;
  font-size: 20px;
}
